@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Thank you for purchasing an Acme product!</h1>
    <p>Acme - for all your roadrunner hunting needs!</p>
</div>
